<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>-tation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>-tation</h1>
    <article>
      <h2>Density of common suffixes in populated areas of Antarctica</h2>
      <p>
        A visual scherzo<sup class="footnote" title="Italian for &ldquo;I jest,&rdquo; &ldquo;scherzo&rdquo; is a musical term that refers to a humorous, up-tempo composition.">*</sup>
        inspired by Moritz Stefaner&rsquo;s
        <a href="http://truth-and-beauty.net/experiments/ach-ingen-zell/">
        -ach, -ingen, -zell</a> and Marko Plahuta&rsquo;s
        <a href="http://virostatiq.com/data-visualizations/us-suffix-density/">
        U.S. Suffix Density</a> visualizations, both of which are great and
        far less silly than this one. Brighter circles represent higher
        relative density of that suffix in that area relative to other areas
        of Antarctica.
      </p>
      <p>
        Shape data from the <a href="http://www.naturalearthdata.com/">
        Natural Earth</a> project. Antarctic city data from
        <a href="http://www.geonames.org/">GeoNames</a>. Code
        available on <a href="https://github.com/darthmall/-tation">
        GitHub</a>.
      </p>
      <p>
        <a href="http://evansheehan.com/">Evan Sheehan</a> 2016.
      </p>
    </article>

    {{#suffixes}}
    <figure>
      <figcaption>
        <em>{{suffix}}</em>
        &mdash;
        <small class="footnote" title="{{city.name}}">1 place</small>
      </figcaption>
      <svg width="388" height="388">
        {{#circles}}
        <circle class="{{className}}" cx="{{x}}" cy="{{y}}" r="{{r}}">
          <title>{{city.name}}</title>
        </circle>
        {{/circles}}
      </svg>
    </figure>
    {{/suffixes}}

    <footer>
      <hr />
      <p>
        Fonts:
        <a href="http://cargocollective.com/hanken/HK-Grotesk-Open-Source-Font">
        HK Grotesk</a> by Hanken and
        <a href="http://www.fontsquirrel.com/fonts/noto-serif">Noto
        Serif</a> by Google.
      </p>
    </footer>
  </body>
</html>
